#quiz-body {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#answers button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#game-over-screen {
    text-align: center;
    margin-top: 50px;
}

#game-over-screen label {
    font-weight: bold;
    margin-bottom: 10px;
}

#game-over-screen input {
    text-transform: uppercase;
    text-align: center;
}